html, body{
  display:flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans',sans-serif;
  background-color: silver;
  background-image: url("cs.jpg");
  background-size: cover;
  background-repeat:no-repeat;
  background-attachment: fixed;
  margin-top: 30px;
}

.welcome{
  text-align: center;
}
.name{
    font-family: 'Roboto', sans-serif;
    font-size: 65;
}
.title{
  font-size: 35;
}

.allt {
  max-width: 50%;
  flex-direction: row;
  height: 80%;
  margin: 5px;
  max-width: 80%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.profpic{
  border-radius: 90%;
}
.tabs{
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
}
.tabs a{
  display: inline-block;
  background-color: black;
  color: white;
  font-family: franklin-gothic;
  text-align: center;
  text-decoration: none;
  font-size: 18;
  outline: none;
  cursor: pointer;
  padding: 10px 12px;
  transition: 0.3s;
}
.tabs a:hover{
  background-color: rgba(255,255,255,0.15);
}
.tabs button.active {
  background-color: #ccc;
}
